.buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto 0;
}

.button {
    width: 32%;
    min-height: 76px;
    padding: 0 10px;
    background-color: #21262b;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
}

.button:hover,
.button:focus {
    background-color: rgba(33, 38, 43, 0.47);
}
